@import "./main.scss";


/***********************************/
/***********************************/
/***********************************/



// @media all and (max-width:$mobile){
//   body{
//     &>header{}
//     &>nav{}
//     &>main{
//       &>section{}
//       &>article{}
//     }
//     &>footer{
//       &>ul{}
//     }
//   }
// }
// @media all and (min-width:$mobile) and (max-width:$tablette){
//   body{
//     &>header{}
//     &>nav{}
//     &>main{
//       &>section{}
//       &>article{}
//     }
//     &>footer{
//       &>ul{}
//     }
//   }
// }
// @media all and (min-width:$desktop) and (max-width:$tv){
//   body{
//     &>header{}
//     &>nav{}
//     &>main{
//       &>section{}
//       &>article{}
//     }
//     &>footer{
//       &>ul{}
//     }
//   }
// }
// @media all and (min-width:$tv){
//   body{
//     &>header{}
//     &>nav{}
//     &>main{
//       &>section{}
//       &>article{}
//     }
//     &>footer{
//       &>ul{}
//     }
//   }
// }

/*****************/

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: inherit;

}



body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  >img {
    width: 100%;
    object-fit: cover;
    height: 250px;

  }
}

header {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  box-shadow: 0 1px 10px 0px rgba(black, .2);
  > img {
    width: 200px;
    padding: 30px 0px 20px 0px;
  }
  >i {
    position: absolute;
    left: 30px;
  }
}

body>div>nav {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  * {
    padding: 5px 8px;
  }
  div.place {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-bg-color;
    font-size: 12px;
    color: rgb(43, 43, 43);
    width: 100%;
  
    }
  
  div.presentation {
    background-color: $light-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    > h1 {
      font-weight: 800;
      font-size: 30px;
      text-align: center;
      padding: 0px 20px 0px 20px;
      margin: 20px 0 10px 0;
    }
    > h3 {
      font-weight: 300;
      font-size: 20px;
      text-align: center;
      padding: 0px 40px 0px 40px;
      margin: 10px 0 20px 0;
    }
  }
}

body>div {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 10px 20px;
    border-radius: 50px 50px 0px 0px;
    margin-top: -50px;
    background-color: $dark-bg-color;
    .heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      * {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
      }
    }
    
    .dishes-type {
      &__heading {
        > h2 {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 400;
          margin-bottom: 5px;
        }
        > div {
          background-color: #5adebd;
          width: 40px;
          height: 3px;
        }
      }
    }

    .dishes-card {
      margin: 20px 0;
      background-color: white;
      border-radius: 25px;
      padding: 15px 20px;
      box-shadow: 0 5px 30px 0px rgba(black, .08);


      > h2 {
        font-size: 16px;
        margin: 0 0 5px 0;
      }

      &__infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        >h4 {
          margin: 0;
          font-weight: 400;
          font-size: 14px;
        }
        >h3 {
          margin: 0;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
  .menu-bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
  }
}

body>div>main {
  section.how-to {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0 60px 0;
    >h1 {
      padding: 20px 0 0 30px;
      margin-bottom: 0;
    }
    .explanations {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      .explanations__card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        background-color: $light-bg-color;
        width: 90%;
        height: 90px;
        margin: 20px 0 0 -20px;
        padding: 0;
        border-radius: 30px;
        box-shadow: 0 5px 30px 0px rgba(black, .18);
        font-size: 12px;
        
        >div {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 0;
          margin-left: -15px;
          
          * {
            padding: 12px;
            margin: 0;
      
          }
        }
        i {
          color: grey;
        }
        .number-bubble {
          background-color: $primary-color;
          padding: 0px;
          margin: 0;
          text-align: center;
          color: white;
          border-radius: 100px;
          width: 35px;
          height: 35px;
          font-size: 15px;
          margin-right: 15px;
          * {
            margin: 0;
            margin-top: -4px;
            font-weight: 400;
      
          }
        }
        &.explanations__card--alt {
          background-color: rgba($primary-color, .15);
          i {
            color: rgba($primary-color, 1);
          }
        }
        
      
      }
    
    }
  } 
  .restaurants {
    background-color: $light-bg-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 30px;
    .restaurants_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 10px 0;
      @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    
      }
      .restaurant-card {
        position: relative;
        box-shadow: 0 5px 30px 0px rgba(black, .18);
        border-radius: 30px;
        width: 100%;
        margin: 10px 0;
        @include desktop {
          width: 45%;
        }
        >img {
          position: relative;
          width: 100%;
          border-radius: 30px 30px 0 0;
          margin-bottom: 10px;
          height: 220px;
          object-fit: cover;
        }
        .restaurant-card__infos {
          padding: 0px 25px;
          margin: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          .restaurant-card__txt {
            h2, h3 {
              margin: 10px 0 10px 0;
              display: flex;
              flex-direction: column;
              line-height: 22px;
            }
            h2 {
              font-weight: 600;
              font-size: 24px;
    
            }
            h3 {
              font-weight: 400;
              font-size: 20px;
            }
          }
          .fa-heart.fa-solid {
            color: red;
            position: relative;
          }
          .heart-icon{
            clip-path: path("m21.5,7.68195l0.925,1l1,-0.99833c4.375,-4.72083 9.24167,-3.2925 13.04167,-2.66c6.99167,7.12333 -0.13333,-0.49167 4.86667,5.5l2.16667,4.31667c0,3.45833 -1.43333,4.76667 -2.71667,7.95833l-15.975,16.975c-0.625,0.58333 -1.45,0.90833 -2.30833,0.90833c-0.85833,0 -1.68333,-0.325 -2.30833,-0.90833l-16.05917,-17.64167c1.30333,0.89167 -2.6325,-1.75 -2.6325,-5.20833l0,-2.06667c3.33333,-7.40833 2.96,-4.96 6.28333,-10.08333c3.725,-0.6325 11,0.18917 13.71667,2.90833c-0.075,0 0,0.00083 0,0l0,0zm1.00833,3.40833l-3.91667,-3.15c-1.80833,-1.735 -4.79167,-2.55833 -7.31667,-2.13833c-3.8125,0.63583 -8.60833,6.43833 -8.60833,10.305l-0.08333,0.4c0,2.35 11.22583,15.1 12.945,16.7l6.805,6.91667l7.225,-6.75c1.71667,-1.6 12.775,-14.1 12.775,-16.45l0.16667,-0.4c0,-3.86667 -5.21667,-9.91917 -9.025,-10.555c-2.525,-0.42 -5.84167,-0.01333 -7.65,1.72167l-3.31667,3.4z");
            width:45px;
            height:45px;
            background-color: black;
            cursor:pointer;
          }
          .heart-icon:hover{
            clip-path: path("m0.42858,16.44966l0,-0.50006c0,-6.02653 4.35566,-11.16676 10.29425,-12.15652c3.85388,-0.65438 7.93192,0.62679 10.74257,3.44176l1.0346,1.03287l0.957,-1.03287c2.88825,-2.81497 6.8887,-4.09615 10.82017,-3.44176c5.94032,0.98977 10.29425,6.12999 10.29425,12.15652l0,0.50006c0,3.57798 -1.48292,7.00078 -4.1039,9.44071l-15.57932,14.54472c-0.64662,0.60352 -1.50017,0.93976 -2.3882,0.93976c-0.88803,0 -1.74157,-0.33624 -2.3882,-0.93976l-15.58018,-14.54472c-2.61753,-2.43993 -4.10302,-5.86272 -4.10302,-9.44071l-0.00003,0z");
            animation: ok .4s linear forwards;
          }

       

        }
        >p {
          position: absolute;
          top: 5px;
          right: 20px;
          color: #008766;
          background-color: #99E2D0;
          padding: 10px;
          font-weight: 600;
          box-shadow: 0 5px 30px 0px rgba(black, .18);
        }
      }
    }
  }
  
}  

footer {
  background-color: $footer-bg-color;
  padding: 40px;

  >img {
    filter: brightness(100);
    width: 150px;
  }
  ul {
    padding: 20px 0;
    margin: 0;
    line-height: 20px;
    text-decoration: none;
    color: white;
    i {
      color: white;
      margin: 0;
      padding: 0;
    }
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px 0;
      >p {
        padding: 0px 15px;
        margin: 0;
      }
    }
  }
  
}

.loading-spinner {
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
  width: 80px;
  height: 80px;
  border: 5px solid rgba($primary-color, 1);
  border-bottom-color: transparent;
  border-radius: 50%;
  // display: inline-block;
  // box-sizing: border-box;
  animation: rotation 1s .5s ease infinite;
  animation-iteration-count: 3;
  opacity: 0;
}

.main-wrapper {
  animation: loading 3.7s ease;
}
