/*
 J'APPEL DANS L'EXTENSION DE MON BLOC BEM (ici .header)
 LA MIXIN DU BLOC (ici @header) OÙ JE REPRODUIT L'ARCHITECTURE DE MON BLOC HTML (ici logo(>img) et bouton(>button))
 À LA RACINE DE LA MIXIN ET DE SES ÉLÉMENT, LA PREMIERE REGLE EST TOUJOURS @extend %placeholder
 JE CRÉER LES VARIABLE($header(un map)) ET PLACEHOLDER(%header(>img et >button)
*/
%header{
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  &__logo{}
  &__bouton{
    > i {
      position: absolute;
      cursor: pointer;
      &:hover {
        color:red;
        background: purple;
      }
    }
  }
}
$header: (
  p:0 30px,w:100%,bs:0 1px 10px 0px rgba(black, .2),
  l_p:30px 0px 20px 0px,l_w:200px,
  b_l:30px,  b_t:50ms,  b_Ho:.6,  b_Ht:scale(1.2)
);

@mixin header(
  $p:map-get($header,p),$w:map-get($header,w),$bs:map-get($header,bs),
  $l_p:map-get($header,l_p),$l_w:map-get($header,l_w),
  $b_l:map-get($header,b_l),  $b_t:map-get($header,b_t),  $b_Ho:map-get($header,b_Ho),  $b_Ht:map-get($header,b_Ht)
){
  @extend %header;
  padding: $p;
  width: $w;
  box-shadow: $bs;

  &__logo {
    @extend %header__logo;
    width: $l_w;
    padding: $l_p;
  }

  &__bouton {
    @extend %header__bouton;
    > i {
      left: $b_l;
      transition: transform ease-in-out $b_t;
      &:hover {
        opacity: $b_Ho;
        transform: $b_Ht;
      }
    }
  }
}
@function header(){

} 


.header {
  @include header();
}

.header--bsBlue{
  @include header($bs:0 0 1em 1px blue);
}